* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat";
  font-style: normal;
}

html {
  overflow-x: hidden;
}

body {
  overflow: hidden;
  padding: 3.125vw 3.646vw;
  position: relative;
  height: 100vh;
  background: #000000;
  overflow-x: hidden;
}

body .wrapper {
  width: 100%;
  height: 100%;
}

body .wrapper .menu-mobile {
  display: none;
}

body .wrapper .background {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

body .wrapper .header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .wrapper .header .header__burger {
  display: none;
}

body .wrapper .header .header__left-block {
  z-index: 1;
}

body .wrapper .header .header__left-block img:nth-child(1) {
  width: 8.333vw;
  margin-right: 3.203vw;
}

body .wrapper .header .header__left-block img:nth-child(2) {
  width: 3.307vw;
  margin-right: 2.422vw;
}

body .wrapper .header .header__left-block img:nth-child(3) {
  width: 6.25vw;
}

body .wrapper .header .header__right-block {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .wrapper .header .header__right-block button {
  width: 7.917vw;
  height: 2.604vw;
  border: none;
  background: none;
  font-weight: 500;
  font-size: 0.99vw;
  color: #ffffff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

body .wrapper .header .header__right-block button:first-child:hover {
  color: #d8b45d;
}

body .wrapper .header .header__right-block button:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #d8b45d;
  color: #000000;
}

body .wrapper .header .header__right-block button:last-child img {
  width: 1.25vw;
  margin: 0 0 0 0.781vw;
}

body .wrapper .header .header__right-block button:last-child:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(27.72%, #fadf78), color-stop(78.26%, #f7e9ba));
  background: linear-gradient(180deg, #fadf78 27.72%, #f7e9ba 78.26%);
}

body .wrapper .main .messi-nft {
  position: absolute;
  left: 0.625vw;
  width: 75.531vw;
  top: 5vh;
}

body .wrapper .main .main__title {
  position: absolute;
  top: 7vw;
  left: 56.234vw;
  text-align: center;
}

body .wrapper .main .main__title img {
  width: 8.6vw;
}

body .wrapper .main .main__title h1 {
  margin: 1.901vw 0 0 0;
  font-weight: 700;
  font-size: 2.969vw;
  line-height: 3.62vw;
  text-transform: uppercase;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(27.72%, #fadf78), color-stop(78.26%, #f7e9ba));
  background: linear-gradient(180deg, #fadf78 27.72%, #f7e9ba 78.26%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-emphasis-color: transparent;
          text-emphasis-color: transparent;
}

body .wrapper .main .main__title p {
  font-weight: 700;
  font-size: 1.042vw;
  line-height: 1.458vw;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(27.72%, #fadf78), color-stop(78.26%, #f7e9ba));
  background: linear-gradient(180deg, #fadf78 27.72%, #f7e9ba 78.26%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-emphasis-color: transparen;
          text-emphasis-color: transparen;
}

body .wrapper .main .main__title span {
  margin: 2.552vw auto 0;
  display: block;
  width: 3.516vw;
  height: 0.026vw;
  background: #ffd200;
}

body .wrapper .main .main__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 56.234vw;
  top: 21.479vw;
  gap: 5.99vw;
  height: 13.5vw;
}

body .wrapper .main .main__tabs .main__tabs-description ul {
  font-weight: 700;
  font-size: 0.885vw;
  line-height: 1.068vw;
  color: #ffffff;
}

body .wrapper .main .main__tabs .main__tabs-description ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 0.677vw;
  line-height: 1.094vw;
  color: #ffffff;
  margin: 0.521vw 0 0 0;
}

body .wrapper .main .main__tabs .main__tabs-description ul li:first-child {
  margin: 1.354vw 0 0 0;
}

body .wrapper .main .main__tabs .main__tabs-description ul li:nth-child(2) div {
  margin-bottom: 1.042vw;
}

body .wrapper .main .main__tabs .main__tabs-description ul li div {
  width: 0.208vw;
  height: 0.208vw;
  background: #ffffff;
  border-radius: 50%;
  margin: 0 0.521vw 0 0;
}

body .wrapper .main .main__tabs .main__tabs-description p {
  margin: 1.302vw 0 0 0;
  font-weight: 400;
  font-size: 0.573vw;
  line-height: 0.703vw;
  color: #ffffff;
  opacity: 0.6;
}

body .wrapper .main .main__tabs .main__tabs-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

body .wrapper .main .main__tabs .main__tabs-button .tabs-elem {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 0.729vw;
  line-height: 0.885vw;
  text-align: right;
  color: #ffffff;
  height: 100%;
  font-weight: 500;
}

body .wrapper .main .main__tabs .main__tabs-button .tabs-elem:first-child {
  color: #d8b45d;
  font-weight: 700;
}

body .wrapper .main .main__tabs .main__tabs-button .tabs-elem .mini-dot {
  width: 0.15vw;
  height: 0.15vw;
  background: #ffffff;
  border-radius: 100%;
  position: absolute;
  right: 0.15vw;
}

body .wrapper .main .main__tabs .main__tabs-button .tabs-elem .mini-dot:nth-child(1) {
  top: 40%;
}

body .wrapper .main .main__tabs .main__tabs-button .tabs-elem .mini-dot:nth-child(2) {
  top: 60%;
}

body .wrapper .main .main__tabs .main__tabs-button .tabs-elem .mini-dot:nth-child(3) {
  top: 80%;
}

body .wrapper .main .main__tabs .main__tabs-button .tabs-elem .ball-wrapper {
  width: 1.823vw;
}

body .wrapper .main .main__tabs .main__tabs-button .tabs-elem .ball-wrapper .ball {
  -webkit-transform: translate(25%, -16%);
          transform: translate(25%, -16%);
  width: 1.094vw;
}

body .wrapper .main .main__tabs .main__tabs-button .tabs-elem .ball-wrapper .dot {
  width: 0.391vw;
}

body .wrapper .main .current-bid {
  position: absolute;
  left: 56.234vw;
  top: 36vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.302vw;
}

body .wrapper .main .current-bid .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.859vw;
}

body .wrapper .main .current-bid .price span {
  font-weight: 400;
  font-size: 0.885vw;
  color: #ffffff;
}

body .wrapper .main .current-bid .price img {
  width: 8.906vw;
}

body .wrapper .main .current-bid button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.781vw;
  width: 11.458vw;
  height: 2.76vw;
  border: none;
  background: #d8b45d;
  color: #000000;
  font-weight: 500;
  font-size: 0.99vw;
}

body .wrapper .main .current-bid button:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(27.72%, #FADF78), color-stop(78.26%, #F7E9BA));
  background: linear-gradient(180deg, #FADF78 27.72%, #F7E9BA 78.26%);
}

body .wrapper .main .current-bid button img {
  width: 1.432vw;
}

body .wrapper .main .main__description-container {
  width: 38.385vw;
  height: 4.661vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-image: url(../img/timer-background.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2.161vw;
}

body .wrapper .main .main__description-container .main__description {
  display: block;
  font-weight: 500;
  font-size: 0.938vw;
  color: #ffffff;
}

body .wrapper .main .main__description-container .timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2.083vw;
}

body .wrapper .main .main__description-container .timer .timer-elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.130vw;
}

body .wrapper .main .main__description-container .timer .timer-elem .time-number {
  font-weight: 700;
  font-size: 1.771vw;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(27.72%, #fadf78), color-stop(78.26%, #f7e9ba));
  background: linear-gradient(180deg, #fadf78 27.72%, #f7e9ba 78.26%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-emphasis-color: transparent;
          text-emphasis-color: transparent;
}

body .wrapper .main .main__description-container .timer .timer-elem .time-text {
  display: block;
  font-weight: 400;
  font-size: 0.729vw;
  text-align: center;
  color: #ffffff;
}

body .wrapper .main .privacy_policy {
  position: absolute;
  bottom: 2.031vw;
  right: 3.646vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.083vw;
}

body .wrapper .main .privacy_policy span {
  font-weight: 700;
  font-size: 0.677vw;
  line-height: 0.833vw;
  color: #ffffff;
  opacity: 0.5;
}

@media (min-aspect-ratio: 640 / 322) and (min-width: 1024px) {
  body {
    overflow: auto;
    height: 53vw;
  }
}

@media (max-width: 1024px) {
  body .wrapper .main .messi-nft {
    top: 50%;
    -webkit-transform: translateY(-70%);
            transform: translateY(-70%);
  }
  body .wrapper .main .main__title {
    top: 30%;
    -webkit-transform: translateY(-85%);
            transform: translateY(-85%);
  }
  body .wrapper .main .main__tabs {
    top: 37%;
  }
  body .wrapper .main .current-bid {
    bottom: 17vw;
  }
}

@media (min-aspect-ratio: 512 / 295) and (max-width: 1024px) {
  body {
    overflow: auto;
    height: 58vw;
  }
  body .wrapper .main .messi-nft {
    bottom: auto;
    top: 29vw;
  }
}

@media (max-width: 768px) {
  body {
    height: auto;
    padding: 5.333vw 4vw 0;
  }
  body .wrapper .background {
    height: 100%;
    position: fixed;
    -webkit-transform: translate(-45%);
            transform: translate(-45%);
    width: 332vw;
  }
  body .wrapper .menu-mobile {
    position: fixed;
    right: 0;
    top: 0;
    height: 101%;
    width: 49.867vw;
    background: #161314;
    z-index: 2;
    padding: 4vw 4vw 8vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .wrapper .menu-mobile.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body .wrapper .menu-mobile .policy {
    margin: auto auto 0;
    color: #ffffff;
    font-size: 3.2vw;
    opacity: 0.5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 5.333vw;
  }
  body .wrapper .menu-mobile .header__burger {
    width: 10.133vw;
    height: 10.133vw;
    border: 0.267vw #d8b45d solid;
    border-radius: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1.333vw;
    background: none;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  body .wrapper .menu-mobile .header__burger:hover {
    background: #d8b45d;
  }
  body .wrapper .menu-mobile .header__burger:hover span {
    background: #000000;
  }
  body .wrapper .menu-mobile .header__burger span {
    position: absolute;
    display: block;
    width: 5.867vw;
    height: 0.533vw;
    background: #ffffff;
  }
  body .wrapper .menu-mobile .header__burger span:last-child {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  body .wrapper .menu-mobile .header__burger span:first-child {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  body .wrapper .menu-mobile .menu__button {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .wrapper .menu-mobile .menu__button button {
    width: 100%;
    height: 12.267vw;
    border: none;
    border-bottom: 0.267vw #3b3424 solid;
    border-top: 0.267vw #3b3424 solid;
    background: none;
    font-weight: 500;
    font-size: 4vw;
    color: #ffffff;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  body .wrapper .menu-mobile .menu__button button:hover {
    color: #d8b45d;
  }
  body .wrapper .menu-mobile .menu__button button:nth-child(1) {
    margin: 6.133vw 0 0 0;
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #d8b45d;
    color: #000000;
  }
  body .wrapper .menu-mobile .menu__button button:nth-child(1) img {
    width: 5.333vw;
    margin: 0 0 0 3.2vw;
  }
  body .wrapper .menu-mobile .menu__button button:nth-child(1):hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(27.72%, #fadf78), color-stop(78.26%, #f7e9ba));
    background: linear-gradient(180deg, #fadf78 27.72%, #f7e9ba 78.26%);
  }
  body .wrapper .menu-mobile .menu__button button:nth-child(2) {
    margin: 4vw 0 0 0;
    border-bottom: none;
  }
  body .wrapper .menu-mobile .warning-solid {
    margin: 10.667vw 0 0 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .wrapper .menu-mobile .warning-solid img {
    width: 4.533vw;
  }
  body .wrapper .menu-mobile .warning-solid span {
    margin: 1.333vw 0 0 0;
    font-weight: 400;
    font-size: 3.467vw;
    color: #ffffff;
  }
  body .wrapper .header .header__left-block img:nth-child(1) {
    width: 24vw;
    margin: 0 6.667vw 0 0;
  }
  body .wrapper .header .header__left-block img:nth-child(2) {
    width: 10.667vw;
    margin: 0 4.8vw 0 0;
  }
  body .wrapper .header .header__left-block img:nth-child(3) {
    width: 19.733vw;
  }
  body .wrapper .header .header__right-block {
    display: none;
  }
  body .wrapper .header .header__burger {
    z-index: 1;
    display: block;
    width: 10.133vw;
    height: 10.133vw;
    border: 0.267vw #d8b45d solid;
    border-radius: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1.333vw;
    background: none;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  body .wrapper .header .header__burger:hover {
    background: #d8b45d;
  }
  body .wrapper .header .header__burger:hover span {
    background: #000000;
  }
  body .wrapper .header .header__burger span {
    display: block;
    width: 5.867vw;
    height: 0.533vw;
    background: #ffffff;
  }
  body .wrapper .main .messi-nft {
    width: 184.533vw;
    left: 50%;
    -webkit-transform: translateX(-39%);
            transform: translateX(-39%);
    top: 55.733vw;
  }
  body .wrapper .main .main__title {
    width: 100%;
    top: 32.8vw;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  body .wrapper .main .main__title img {
    display: block;
    width: 35.733vw;
    margin: 0 auto;
  }
  body .wrapper .main .main__title h1 {
    font-weight: 700;
    font-size: 8.533vw;
    line-height: 10.4vw;
    margin: 6.901vw 0 0 0;
  }
  body .wrapper .main .main__title p {
    margin: 1.5vw 0 0 0;
    font-size: 4vw;
    line-height: 4.8vw;
  }
  body .wrapper .main .main__title span {
    width: 14.4vw;
    margin: 7.5vw auto 0;
  }
  body .wrapper .main .main__tabs {
    position: static;
    margin: 230vw auto 0;
    -webkit-transform: none;
            transform: none;
    z-index: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 9vw;
  }
  body .wrapper .main .main__tabs .main__tabs-description {
    max-width: 92vw;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    z-index: 1;
  }
  body .wrapper .main .main__tabs .main__tabs-description ul {
    font-size: 4.267vw;
    line-height: 6.4vw;
  }
  body .wrapper .main .main__tabs .main__tabs-description ul li {
    width: 92vw;
    font-size: 3.733vw;
    line-height: 5.867vw;
    margin: 2.667vw 0 0 0;
  }
  body .wrapper .main .main__tabs .main__tabs-description ul li:first-child {
    margin: 5.354vw 0 0 0;
  }
  body .wrapper .main .main__tabs .main__tabs-description ul li:nth-child(2) div {
    margin-bottom: 17vw;
  }
  body .wrapper .main .main__tabs .main__tabs-description ul li:last-child div {
    margin-bottom: 5vw;
  }
  body .wrapper .main .main__tabs .main__tabs-description ul li div {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 1.067vw;
    height: 1.067vw;
    margin: 0 3.2vw 0 0;
  }
  body .wrapper .main .main__tabs .main__tabs-description p {
    font-size: 3.2vw;
    line-height: 4.8vw;
    margin: 5.333vw 0 0 0;
  }
  body .wrapper .main .main__tabs .main__tabs-button {
    z-index: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body .wrapper .main .main__tabs .main__tabs-button .tabs-elem {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 4vw;
    line-height: 4.8vw;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .wrapper .main .main__tabs .main__tabs-button .tabs-elem .mini-dot {
    display: none;
  }
  body .wrapper .main .main__tabs .main__tabs-button .tabs-elem span {
    margin: 0 0 1.333vw 0;
  }
  body .wrapper .main .main__tabs .main__tabs-button .tabs-elem .ball-wrapper .dot {
    width: 1.6vw;
  }
  body .wrapper .main .main__tabs .main__tabs-button .tabs-elem .ball-wrapper .ball {
    -webkit-transform: none;
            transform: none;
    width: 5.333vw;
  }
  body .wrapper .main .current-bid {
    margin: 8vw 0 0 0;
    position: static;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 5.867vw;
  }
  body .wrapper .main .current-bid .price {
    z-index: 1;
    gap: 3.5vw;
  }
  body .wrapper .main .current-bid .price span {
    font-size: 4vw;
    margin: 2.667vw 0 0 0;
  }
  body .wrapper .main .current-bid .price img {
    width: 36.267vw;
  }
  body .wrapper .main .current-bid button {
    z-index: 1;
    border: none;
    width: 92vw;
    height: 12.267vw;
    font-size: 4vw;
    gap: 3.467vw;
  }
  body .wrapper .main .current-bid button img {
    width: 5.867vw;
  }
  body .wrapper .main .main__description-container {
    position: relative;
    left: 50%;
    -webkit-transform: none;
            transform: none;
    width: 112%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 25vw;
    background-image: url(../img/timer-background-mobile.svg);
    background-position: bottom;
    margin: 16vw 0 0 0;
  }
  body .wrapper .main .main__description-container .main__description {
    font-size: 3.733vw;
  }
  body .wrapper .main .main__description-container .timer {
    gap: 8vw;
    margin: 2.667vw 0 0 0;
    margin: 0;
  }
  body .wrapper .main .main__description-container .timer .timer-elem {
    gap: 1.333vw;
  }
  body .wrapper .main .main__description-container .timer .timer-elem .time-number {
    font-size: 6.4vw;
  }
  body .wrapper .main .main__description-container .timer .timer-elem .time-text {
    font-size: 3.2vw;
  }
  body .wrapper .main .privacy_policy {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */