* {
  box-sizing: border-box;
  font-family: "Montserrat";
  font-style: normal;
}

body {
  overflow: hidden;
  padding: 3.125vw 3.646vw;
  position: relative;
  height: 100vh;
  .wrapper {
    width: 100%;
    height: 100%;
    .menu-mobile {
      display: none;
    }
    .background {
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    .header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .header__burger {
        display: none;
      }
      .header__left-block {
        z-index: 1;
        img:nth-child(1) {
          width: 8.333vw;
          margin-right: 3.203vw;
        }
        img:nth-child(2) {
          width: 3.307vw;
          margin-right: 2.422vw;
        }
        img:nth-child(3) {
          width: 6.25vw;
        }
      }
      .header__right-block {
        z-index: 1;
        display: flex;
        button {
          width: 7.917vw;
          height: 2.604vw;
          border: none;
          background: none;
          font-weight: 500;
          font-size: 0.99vw;
          color: #ffffff;
          transition: 0.2s;
          &:first-child:hover {
            color: rgba(216, 180, 93, 1);
          }
          &:last-child {
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgba(216, 180, 93, 1);
            color: #000000;
            img {
              width: 1.25vw;
              margin: 0 0 0 0.781vw;
            }
            &:hover {
              background: linear-gradient(
                180deg,
                #fadf78 27.72%,
                #f7e9ba 78.26%
              );
            }
          }
        }
      }
    }
    .main {
      .messi {
        position: absolute;
        left: 10.625vw;
        width: 34.531vw;
        bottom: 4.115vw;
      }
      .main__title {
        position: absolute;
        top: 14.115vw;
        left: 50.234vw;
        img {
          width: 36.25vw;
        }
        p {
          margin: 3.698vw 0 0 0;
          font-weight: 700;
          font-size: 1.042vw;
          line-height: 1.458vw;
          text-align: center;
          color: #ffffff;
          br:nth-child(1) {
            display: none;
          }
        }
      }
      .main__description-container {
        position: absolute;
        left: 59.714vw;
        top: 33.5vw;
        .main__description {
          display: block;
          font-weight: 600;
          font-size: 0.938vw;
          text-align: center;
          color: #ffffff;
        }
        .timer {
          display: flex;
          justify-content: center;
          gap: 2.083vw;
          .timer-elem {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0.521vw 0 0 0;
            &:last-child {
              margin-right: 0;
            }
            .time-number {
              font-weight: 700;
              font-size: 1.875vw;
              text-align: center;
              background: linear-gradient(
                180deg,
                #fadf78 27.72%,
                #f7e9ba 78.26%
              );
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              background-clip: text;
              text-emphasis-color: transparent;
            }
            .time-text {
              display: block;
              font-weight: 400;
              font-size: 0.729vw;
              text-align: center;
              color: #ffffff;
              margin: 0.104vw 0 0 0;
            }
          }
        }
        .main__button {
          display: block;
          margin: 2.135vw auto 0;
          border: none;
          width: 8.542vw;
          height: 2.708vw;
          background: #d8b45d;
          font-weight: 500;
          font-size: 0.99vw;
          text-align: center;
          color: #000000;
          transition: 0.2s;
          &:hover {
            background: linear-gradient(180deg, #fadf78 27.72%, #f7e9ba 78.26%);
          }
        }
      }
    }
  }
}

@media (min-aspect-ratio: 640/322) and (min-width: 1024px) {
  body {
    overflow: auto;
    height: 53vw;
  }
}

@media (max-width: 1024px) {
  body {
    .wrapper {
      .main {
        .messi {
          width: 44vw;
          left: 4vw;
        }
        .main__title {
          top: 50%;
          transform: translateY(-85%);
        }
        .main__description-container {
          top: 50%;
          transform: translateY(50%);
        }
      }
    }
  }
}
@media (min-aspect-ratio: 512/295) and (max-width: 1024px) {
  body {
    overflow: auto;
    height: 56vw;
    .wrapper {
      .main {
        .messi {
          bottom: auto;
          top: 10vw;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  body {
    padding: 5.333vw 4vw;
    .wrapper {
      .menu-mobile {
        &.active {
          display: flex;
        }
        position: fixed;
        right: 0;
        top: 0;
        height: 101%;
        width: 49.867vw;
        background: rgba(22, 19, 20, 1);
        z-index: 2;
        padding: 4vw 4vw 8vw;
        flex-direction: column;
        align-items: center;
        .policy {
          margin: auto auto 0;
          color: #ffffff;
          font-size: 3.2vw;
          opacity: 0.5;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 5.333vw;
        }
        .header__burger {
          width: 10.133vw;
          height: 10.133vw;
          border: 0.267vw rgba(216, 180, 93, 1) solid;
          border-radius: 10%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 1.333vw;
          background: none;
          transition: 0.2s;
          &:hover {
            background: rgba(216, 180, 93, 1);
            span {
              background: #000000;
            }
          }
          span {
            position: absolute;
            display: block;
            width: 5.867vw;
            height: 0.533vw;
            background: #ffffff;
            &:last-child {
              transform: rotate(45deg);
            }
            &:first-child {
              transform: rotate(-45deg);
            }
          }
        }
        .menu__button {
          width: 100%;
          display: flex;
          flex-direction: column;
          button {
            width: 100%;
            height: 12.267vw;
            border: none;
            border-bottom: 0.267vw rgba(59, 52, 36, 1) solid;
            border-top: 0.267vw rgba(59, 52, 36, 1) solid;
            background: none;
            font-weight: 500;
            font-size: 4vw;
            color: #ffffff;
            transition: 0.2s;
            &:hover {
              color: rgba(216, 180, 93, 1);
            }
            &:nth-child(1) {
              margin: 6.133vw 0 0 0;
              border: none;
              display: flex;
              justify-content: center;
              align-items: center;
              background: rgba(216, 180, 93, 1);
              color: #000000;
              img {
                width: 5.333vw;
                margin: 0 0 0 3.2vw;
              }
              &:hover {
                background: linear-gradient(
                  180deg,
                  #fadf78 27.72%,
                  #f7e9ba 78.26%
                );
              }
            }
            &:nth-child(2) {
              margin: 4vw 0 0 0;
              border-bottom: none;
            }
          }
        }
        .warning-solid {
          margin: 10.667vw 0 0 0;
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          img {
            width: 4.533vw;
          }
          span {
            margin: 1.333vw 0 0 0;
            font-weight: 400;
            font-size: 3.467vw;
            color: #ffffff;
          }
        }
      }
      .header {
        .header__left-block {
          img:nth-child(1) {
            width: 24vw;
            margin: 0 6.667vw 0 0;
          }
          img:nth-child(2) {
            width: 10.667vw;
            margin: 0 4.8vw 0 0;
          }
          img:nth-child(3) {
            width: 19.733vw;
          }
        }
        .header__right-block {
          display: none;
        }
        .header__burger {
          z-index: 1;
          display: block;
          width: 10.133vw;
          height: 10.133vw;
          border: 0.267vw rgba(216, 180, 93, 1) solid;
          border-radius: 10%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 1.333vw;
          background: none;
          transition: 0.2s;
          &:hover {
            background: rgba(216, 180, 93, 1);
            span {
              background: #000000;
            }
          }
          span {
            display: block;
            width: 5.867vw;
            height: 0.533vw;
            background: #ffffff;
          }
        }
      }
      .main {
        .messi {
          width: 94.667vw;
          left: 50%;
          transform: translateX(-50%);

          top: 40.779610194903vh;
        }
        .main__title {
          width: 100%;
          top: 17.391304347826vh;

          left: 50%;
          transform: translateX(-50%);
          img {
            display: block;
            width: 71.733vw;
            margin: 0 auto;
          }
          p {
            margin: 4.533vw 0 0 0;
            font-size: 4vw;
            line-height: 6.4vw;
            br:nth-child(1) {
              display: block;
            }
            br:nth-child(2) {
              display: none;
            }
          }
        }
        .main__description-container {
          left: 50%;
          transform: translateX(-50%);
          top: auto;
          bottom: 13.333vw;
          .main__description {
            font-size: 3.733vw;
          }
          .timer {
            gap: 8vw;
            margin: 2.667vw 0 0 0;
            .timer-elem {
              .time-number {
                font-size: 7.467vw;
              }
              .time-text {
                font-size: 12px;
                line-height: 15px;
              }
            }
          }
          .main__button {
            margin: 8vw auto 0;
            width: 34.667vw;
            height: 12.267vw;
            font-size: 4vw;
          }
        }
      }
    }
  }
}
@media (min-aspect-ratio: 375/667) and (max-width: 768px) {
  body {
    overflow: auto;
    height: 178vw;
    .wrapper {
      .background {
        height: 100%;
      }
      .main {
        .messi {
          top: auto;
          bottom: 6.667vw;
        }
        .main__title {
          top: 30.933vw;
        }
      }
    }
  }
}
